<form *ngIf="reaction">
  <div class="row">
      <div class="col s12 m4 l2"></div>
    <label for="title">Title</label>
    <input type="text" class="form-control" name="title" id="title" aria-describedby="title" placeholder="Enter Title"
           [(ngModel)]="reaction.title">
  </div>
  <div class="form-group">
    <label>Content</label>
    <div>
      <p-editor name="content" [(ngModel)]="reaction.content" [style]="{'height':'320px'}"></p-editor>
   </div>
  </div>
  {{reaction.id}}
  <button type="submit" (click)="createNewReaction()" class="btn-floating btn-large  pink darken-1 pulse">Create reaction</button>


</form>
